html {
  background: #eee;
}

body {
  line-height: 1.4;
  max-width: 95%;
  margin: 20px auto;
  overflow-y: hidden !important;
}

table {
  white-space: nowrap
}

.table-condensed {
  font-size: 8px;
}

.table td {
  vertical-align: middle;
  text-align: center;
}

.table th {
  vertical-align: middle;
  text-align: center;
}

.material-icons.md-18 {
  font-size: 18px;
}
