<md-toolbar class="md-medium-tall" md-scroll-shrink ng-cloak layout-align="center center">
  <div class="md-toolbar-tools">
    <h1 flex md-truncate>D121 Scraper</h1>

    <md-fab-speed-dial md-direction="left" class="md-scale md-fab-top-right" md-open="menuOpen" ng-mouseenter="menuOpen = true" ng-mouseleave="menuOpen = false">
      <md-fab-trigger>
        <md-button aria-label="Open menu" class="md-icon-button">
          <md-tooltip md-direction="top">Menu</md-tooltip>
          <md-icon class="material-icons">menu</md-icon>
        </md-button>
      </md-fab-trigger>

      <md-fab-actions>
        <md-button aria-label="Install" class="md-icon-button md-warn" target="_blank" ng-href="https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi">
          <md-tooltip md-direction="bottom">Install "Allow-Control-Allow-Origin: *"</md-tooltip>
          <md-icon class="material-icons">extension</md-icon>
        </md-button>

        <md-button aria-label="Info" class="md-icon-button md-warn" ng-click="openInfo($event)">
          <md-tooltip md-direction="bottom">Info</md-tooltip>
          <md-icon class="material-icons">info_outline</md-icon>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
</md-toolbar>
