<md-content layout="column" ng-cloak>
  <form name="httpForm" novalidate ng-submit="httpForm.$valid && getPdf(pdfUrl)" layout-padding>
    <div layout="row" flex layout-align="start center">
      <md-input-container flex class="md-icon-float md-block md-title">
        <label>PDF URL</label>
        <md-icon class="material-icons md-accent">http</md-icon>
        <input required flex="90" name="pdfUrl" ng-model="pdfUrl" ng-pattern="/^(http:\/\/|https:\/\/)?.+\.pdf$/">
        <md-button aria-label="Submit" type="submit" class="md-icon-button md-primary">
          <md-icon class="material-icons">search</md-icon>
        </md-button>
        <div ng-messages="httpForm.pdfUrl.$error">
          <div ng-message="required">Url is required.</div>
          <div ng-message="pattern">The url must be of a valid pdf file.</div>
        </div>
      </md-input-container>
    </div>
  </form>

  <md-subheader class="md-primary" layout="column" flex>
    <span ng-show="status">{{ status }}</span>
    <md-progress-linear ng-show="status && !pdfContent" flex md-mode="query"></md-progress-linear>
  </md-subheader>

  <md-content md-whiteframe="21" flex layout layout-padding ng-show="pdfContent">
    <md-sidenav ng-class="position" md-whiteframe="21" md-component-id="sidenav" ng-mouseleave="closeSidenav()">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Details:</h1>
      </md-toolbar>

      <form layout>
        <md-input-container ng-init="inputText = ''">
          <label>Paste Value</label>
          <textarea type="text" md-no-autogrow md-no-resize md-select-on-focus md-max-rows="1" ng-model="inputText" ng-paste='handlePaste($event)'></textarea>
        </md-input-container>
        <div layout flex="20" layout-align="end center">
          <md-button class="md-primary md-icon-button" ng-disabled="!details || details.name == '' || details.emp_size == ''" ng-click="save(details)">
            <md-icon class="material-icons">save</md-icon>
          </md-button>
        </div>
      </form>
      <md-divider></md-divider>
      <md-list class="md-dense" flex>
        <md-list-item flex ng-repeat="(key, value) in details">
          <p class="md-caption">{{ key | uppercase }}: {{ value }}</p>
          <md-icon aria-label="edit" class="material-icons md-secondary" ng-class="(value == '') ? 'md-warn' : 'md-primary'" ng-click="edit(key, value, $event)">edit</md-icon>
        </md-list-item>
      </md-list>
    </md-sidenav>

    <div ng-click="openSidenav('left')" md-colors="::{backgroundColor: 'accent-300'}"></div>
    <object data="{{ pdfContent }}" type="application/pdf" style="width: 100%; height: 100%;"></object>
    <div ng-click="openSidenav('right')" md-colors="::{backgroundColor: 'accent-300'}"></div>
  </md-content>
</md-content>
