<md-content layout="column" ng-cloak>
  <form name="httpForm" novalidate ng-submit="httpForm.$valid && getPdf(pdfUrl)" layout layout-padding layout-align="start center">
    <md-input-container flex>
      <label>PDF URL</label>
      <input required name="pdfUrl" ng-model="pdfUrl" ng-pattern="/^(http:\/\/|https:\/\/)?.+\.pdf$/">
      <div ng-messages="httpForm.pdfUrl.$error">
        <div ng-message="required">Url is required.</div>
        <div ng-message="pattern">The url must be of a valid pdf file.</div>
      </div>
    </md-input-container>

    <md-button type="submit" class="md-raised md-primary">Get PDF</md-button>
  </form>

  <md-subheader class="md-primary" layout="column" flex>
    <span ng-show="status">{{ status }}</span>
    <md-progress-linear ng-show="status && !pdfContent" flex md-mode="query"></md-progress-linear>
  </md-subheader>

  <md-content md-whiteframe="21" layout layout-padding ng-show="pdfContent" paste-directive>
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Details:</h1>
      </md-toolbar>
      <md-content layout-padding>
        <form>
          <md-input-container flex>
            <label>Paste Value</label>
            <textarea type="text" md-no-resize max-rows="3" ng-model="inputText" ng-paste='handlePaste($event)'></textarea>
          </md-input-container>
        </form>

        <div>
          {{ copiedText }}
        </div>
      </md-content>
    </md-sidenav>

    <object data="{{ pdfContent }}" type="application/pdf" style="width: 100%; height: 100%;"></object>
    <md-button class="md-fab md-mini md-primary" ng-mouseover="openSidenav()">
      <md-icon class="material-icons">swap_horiz</md-icon>
    </md-button>
  </md-content>
</md-content>
