<md-content md-whiteframe="21" class="table-responsive" ng-show="response.length > 0">
  <table class="table table-sm table-striped table-bordered table-hover table-condensed">
    <thead class="thead-inverse">
      <tr ng-repeat="res in response | limitTo: 1">
        <th>EDIT</th>
        <th ng-repeat="(key, val) in res">
          {{ key | uppercase }}
        </th>
        <th>REMOVE</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="res in response">
        <td>
          <md-button class="md-icon-button md-accent" ng-click="edit = !edit">
            <md-icon aria-label="edit" class="material-icons md-18">edit</md-icon>
          </md-button>
        </td>

        <td ng-repeat="(key, val) in res">
          <span ng-show="!edit">{{ val }}</span>
          <md-input-container md-no-float>
            <input flex ng-show="edit" type="text" placeholder="{{ key }}" ng-model="val"></input>
            <md-tooltip>{{ val }}</md-tooltip>
          </md-input-container>
        </td>

        <td>
          <md-button class="md-icon-button md-warn" ng-click="delete(res)">
            <md-icon aria-label="delete" class="material-icons md-18">delete</md-icon>
          </md-button>
        </td>
      </tr>
    </tbody>
  </table>
</md-content>
