<md-subheader class="md-primary" ng-hide="response.length > 0">
  <span class="md-title">No data found.</span>
</md-subheader>

<md-content layout="column" ng-show="response.length > 0" ng-init="lock = true">
  <md-content layout layout-align="end center">
    <md-button aria-label="Enable Edit" class="md-icon-button md-accent" ng-click="lock = !lock">
      <md-icon class="material-icons" ng-show="lock">lock</md-icon>
      <md-icon class="material-icons" ng-show="!lock">lock_open</md-icon>
      <md-tooltip md-direction="bottom">{{ lock ? 'Locked' : 'Unlocked' }}</md-tooltip>
    </md-button>
    <md-button aria-label="Download" class="md-icon-button md-accent" ng-click="filter(response)">
      <md-icon class="material-icons">filter_list</md-icon>
      <md-tooltip md-direction="bottom">Filter</md-tooltip>
    </md-button>
    <md-button aria-label="Download" class="md-icon-button md-accent" ng-click="export(response, $event)">
      <md-icon class="material-icons">file_download</md-icon>
      <md-tooltip md-direction="bottom">Download</md-tooltip>
    </md-button>
  </md-content>

  <md-content md-whiteframe="21" class="table-responsive">
    <div layout layout-align="start center">
      <md-subheader class="md-primary">
        <span>Showing {{ response.length }} rows. ({{ dataCounter.valid }} valid.  {{ dataCounter.invalid }} invalid.)</span>
      </md-subheader>
    </div>

    <table class="table table-sm table-striped table-bordered table-hover table-condensed">
      <thead class="thead-inverse">
        <tr ng-repeat="res in response | limitTo: 1">
          <th ng-repeat="(key, val) in res">
            {{ key | uppercase }}
          </th>
          <th>REMOVE</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="res in response track by $index" ng-init="rowIndex = $index" ng-dblclick="edit = !edit" ng-class="{ 'table-warning': res.note == 'Invalid'}">
          <td ng-repeat="(key, val) in res">
            <span ng-hide="edit && !lock">{{ val }}</span>
            <md-input-container md-no-float ng-show="edit && !lock">
              <input flex type="text" md-select-on-focus placeholder="{{ key }}" ng-model="val" ng-model-options="{ debounce: 1000 }" ng-change="update(res, rowIndex, key, val)"></input>
              <md-tooltip>{{ val }}</md-tooltip>
            </md-input-container>
          </td>

          <td>
            <md-button class="md-icon-button md-warn" ng-click="delete(res)">
              <md-icon aria-label="delete" class="material-icons md-18">delete</md-icon>
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-content>
</md-content>
